<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!--Import Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>

    <!--Compiled and minified Chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: rgb{{ title_img_color }} !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid rgb{{ title_img_color }} !important;
     box-shadow: 0 1px 0 0 rgb{{ title_img_color }} !important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid rgb{{ title_img_color }} !important;
     box-shadow: 0 1px 0 0 rgb{{ title_img_color }} !important;
   }

   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: rgb{{ title_img_color }} !important;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid rgb{{ title_img_color }} !important;
     box-shadow: 0 1px 0 0 rgb{{ title_img_color }} !important;
   }
   /* valid color */
   .input-field input[type=password].valid {
     border-bottom: 1px solid rgb{{ title_img_color }} !important;
     box-shadow: 0 1px 0 0 rgb{{ title_img_color }} !important;
   }

    </style>
</head>
<body>
<header>
    <div class="parallax-container">
        <div class="container">
            <h1 class="white-text">{{ title }}</h1>
            <p class="white-text">{{ secondary_title }}</p>

        </div>
        <div class="parallax">
            <img src="{{ title_img_src }}"
                 alt="">
        </div>
    </div>
</header>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="{{ title_img_src }}"
             alt="">
    </div>
</div>

<footer class="page-footer white-text" style="background-color: rgb{{ title_img_color }}">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>Felhasznált programok a kliensoldalon:</h5>
                <ul>
                    <li>Materialize CSS - stílus</li>
                    <li>ChartJS - grafikonok</li>
                </ul>
            </div>
            <div class="col l4 s12">
                <h5 class="">Linkek és elérhetőségek</h5>
                <ul>
                    <li><i class="fab fa-gitlab"></i> <a class="white-text" href="https://gitlab.com/pmisi/naplostat">Forráskód</a>
                    </li>
                    <li><i class="fas fa-at"></i> <a class="white-text"
                                                     href="mailto:papp.misi@outlook.com?Subject=Hiba%20bejelentése">papp.misi@outlook.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright white-text">
        <div class="container">
            Szoftvertovábbítási licenc: <a class="white-text" href="http://www.gnu.hu/gplv3.html">GPLv3</a>
            <div class="right">Mi <i class="fas fa-heart"></i> <i class="fab fa-linux"></i> && <i
                    class="fab fa-python"></i>.
            </div>
        </div>

    </div>
</footer>

<script>
        M.AutoInit();




</script>

</body>

</html>