{% extends 'statApp/base.html' %}
{% block content %}


{{ grades_table|safe }}

<hr>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title"></span>
                <p class="flow-text">
                    Ipsa doloremque sint enim unde. Aut ad molestiae voluptatem ea inventore et odio ad.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title"></span>
                <p class="flow-text">
                    Ipsa doloremque sint enim unde. Aut ad molestiae voluptatem ea inventore et odio ad.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title"></span>
                <p class="flow-text">
                    Ipsa doloremque sint enim unde. Aut ad molestiae voluptatem ea inventore et odio ad.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title"></span>
                <p class="flow-text">
                    Ipsa doloremque sint enim unde. Aut ad molestiae voluptatem ea inventore et odio ad.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title"></span>
                <p class="flow-text">
                    Ipsa doloremque sint enim unde. Aut ad molestiae voluptatem ea inventore et odio ad.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title"></span>
                <p class="flow-text">
                    Ipsa doloremque sint enim unde. Aut ad molestiae voluptatem ea inventore et odio ad.
                </p>
            </div>
        </div>
    </div>
    <div class="col s6">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li class="active">
                <div class="collapsible-header tooltipped" data-position="left" data-tooltip="Hogyan állok most?">
                    Tantárgyak
                    átlaga
                </div>
                <div class="collapsible-body">
                    <canvas id="subjectAverage"></canvas>
                </div>
            </li>

            <li>
                <div class="collapsible-header tooltipped" data-position="left"
                     data-tooltip="Milyen átlagot értem el ebben a hónapban?">
                    Havi összátlagok
                </div>
                <div class="collapsible-body">
                    <canvas id="allAverages"></canvas>
                </div>
            </li>

            <li>
                <div class="collapsible-header tooltipped" data-position="left"
                     data-tooltip="Milyen volt akkor az átlagom?">
                    Havi összátlagváltozás
                </div>
                <div class="collapsible-body">
                    <canvas id="allAverageOverTime"></canvas>
                </div>
            </li>

            <li>
                <div class="collapsible-header tooltipped" data-position="left"
                     data-tooltip="Milyen átlagot értem el ebben a tantárgyban akkor?">
                    Megadott tantárgy havi
                    átlagai
                </div>
                <div class="collapsible-body">
                    <canvas id="subjectAverageMonthly"></canvas>
                    <select id="subjectAverageMonthlySelect" onchange="updateSubjectAverageMonthly(false)">
                        {% for subject in monthly_averages %}
                        {% if subject|capfirst != 'Átlag' %}
                        <option value="{{ forloop.counter0 }}">{{ subject }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </li>

            <li>
                <div class="collapsible-header tooltipped" data-position="left"
                     data-tooltip="Mi volt ekkor ebben a tantárgyban az átlagom?">
                    Megadott tantárgy
                    átlagváltozása
                </div>
                <div class="collapsible-body">
                    <canvas id="subjectAverageOverTime"></canvas>
                    <select id="subjectAverageOverTimeSelect" onchange="updateSubjectAverageOverTime(false)">
                        {% for subject in monthly_averages %}
                        {% if subject|capfirst != 'Átlag' %}
                        <option value="{{ forloop.counter0 }}">{{ subject }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </li>

            <li>
                <div class="collapsible-header tooltipped" data-position="left" data-tooltip="Mennyi jegyem van?">
                    Tantárgyak
                    jegyszáma
                </div>
                <div class="collapsible-body">
                    <canvas id="subjectGradeNumber"></canvas>
                </div>
            </li>
        </ul>

        {% if not shared_page %}
        <a id="megosztas" class="btn waves-effect waves-light modal-trigger" href="#modal1"
           style="background-color: rgb{{ title_img_color }} ">Megosztás</a>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4 id="modal-header"></h4>
                <p>Újabb jegyeket az ismerőseid nem látják, ezt a saját ellenőrzőoldalad újabb megtekintésével tudod
                    frissíteni.</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Bezár</a>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
    $('#megosztas').click(function (event) {
        // $.post('{% url "megosztas" %}',{
        //         title: "{{ title }}",
        //         subjects: "{{ subjects }}",
        //         monthly_averages: "{{ monthly_averages }}",
        //         subjects_with_number_of_grades: "{{ subjects_with_number_of_grades }}",
        //     },
        //     function(data, status) {

        //     }
        // );

        $.post("{% url "megosztas" %}",
            {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                title: "{{ title }}",
                subjects: "{{ subjects }}",
                monthly_averages: "{{ monthly_averages }}",
                subjects_with_number_of_grades: "{{ subjects_with_number_of_grades }}",
            },
            function (data, status) {
                let link = "http://" + location.host + data
                $('#modal-header').html("<h4><a href='" + link + "'>Ezzel</a> a linkkel megoszthatod az oldalt.</h4>")
            });
    });

        </script>
        {% endif %}

    </div>
</div>

<script>


    // TANTÁRGYAK ÁTLAGÁNAK EGYMÁSHOZ HASONLÍTOTT OSZLOPDIAGRAMA
    let subjectAverageLabels = [];
    let subjectAverageData = [];

    {% for subject, average in subjects.items %}
    subjectAverageLabels.push("{{ subject }}");
    subjectAverageData.push({{ average|safe }});
    {% endfor %}

    let subjectAverage = document.getElementById("subjectAverage").getContext("2d");
    let subjectAverageChart = new Chart(subjectAverage, {
        type: "bar",
        data: {
            labels: subjectAverageLabels,
            datasets: [{
                label: "Tantárgy átlaga",
                data: subjectAverageData,
                backgroundColor: "rgba{{title_img_color_half_opacity}}",
                borderWidth: 3,
                borderColor: "rgb{{ title_img_color }}"
            }]
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
            xAxes: [{
                ticks: {
                    display: false
                }
            }]
        },
        legend: {
            display: false,
        }
        }
    });

// MEGADOTT TANTÁRGY HAVI ÁTLAGAI

var subjectAverageMonthlyChart = null;
function updateSubjectAverageMonthly(firstRun){

    let checkedChart = document.getElementById("subjectAverageMonthlySelect").value;
    let monthlyAverages = {{ monthly_averages|safe }};
    delete monthlyAverages['Átlag'];
    let concattedSubjGrades = [];


    for (subj in monthlyAverages) {
        if (subj != 'Átlag') {
            concattedSubjGrades.push(subj);
        }
    }

    let data = monthlyAverages[concattedSubjGrades[checkedChart]];

    for (month in data) {
        data[month] = avgOfArray(data[month])
    }
    // TODO: ne legyen hardcode-olt hónap, a táblázatból emeljük ki azokat
    let subjectAverageMonthlyLabels = ['Szeptember', 'Október', 'November', 'December', 'Január'];
    let subjectAverageMonthlyData = data;

    let subjectAverageMonthlyCanv = document.getElementById("subjectAverageMonthly");

    let subjectAverageMonthly = subjectAverageMonthlyCanv.getContext("2d");


    if(firstRun){
        subjectAverageMonthlyChart = new Chart(subjectAverageMonthly, {
            type: "bar",
            data: {
                labels: subjectAverageMonthlyLabels,
                datasets: [{
                    label: "Tantárgy átlaga ebben a hónapban",
                    data: subjectAverageMonthlyData,
                    backgroundColor: "rgba{{ title_img_color_half_opacity }}",
                    borderWidth: 3,
                    borderColor: "rgb{{ title_img_color }}"
                }]
            },
            options: {
                scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
            },
                legend: {
                    display: false,
                }
            }
        });

    } else {
        subjectAverageMonthlyChart.data.datasets[0].data = data;
        subjectAverageMonthlyChart.update();
    }
}

updateSubjectAverageMonthly(true);


function avgOfArray(arr) {
var sum = 0;
for( var i = 0; i < arr.length; i++ ){
    sum += parseInt( arr[i], 10 ); //don't forget to add the base
}

var avg = sum/arr.length;
return avg
}

// ÖSSZESÍTETT HAVI ÁTLAGOK
    let allAveragesLabels = ['Szeptember', 'Október', 'November', 'December', 'Január'];
    let allAveragesData = {{ monthly_averages|safe }}["Átlag"]

    allAveragesData = [].concat.apply([], allAveragesData);
    delete allAveragesData.pop()

    for(i in allAveragesData) {
        allAveragesData[i] = allAveragesData[i].toString().replace(",", ".");
        if(allAveragesData[i] == "-") {
            allAveragesData[i] = NaN;
        }
    }

    let allAverages = document.getElementById("allAverages").getContext("2d");
    let allAveragesChart = new Chart(allAverages, {
        type: "bar",
        data: {
            labels: allAveragesLabels,
            datasets: [{
                label: "Havi átlag",
                data: allAveragesData,
                backgroundColor: "rgba{{ title_img_color_half_opacity }}",
                borderWidth: 3,
                borderColor: "rgb{{ title_img_color }}"
            }]
        },
        options: {
            scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
        },
            legend: {
                display: false,
            }
        }
    });

    // TANTÁRGYAK OSZTÁLYZATSZÁMÁNAK OSZLOPDIAGRAMA
    let subjectGradeNumberLabels = [];
    let subjectGradeNumberData = [];

    {% for subject, n_of_grades in subjects_with_number_of_grades.items %}
        {% if subject != 'Átlag' %}
        subjectGradeNumberLabels.push("{{ subject }}");
        subjectGradeNumberData.push({{ n_of_grades|safe }});
        {% endif %}
    {% endfor %}

    let subjectGradeNumber = document.getElementById("subjectGradeNumber").getContext("2d");
    let subjectGradeNumberChart = new Chart(subjectGradeNumber, {
        type: "bar",
        data: {
            labels: subjectGradeNumberLabels,
            datasets: [{
                label: "Tantárgyakból szerzett jegyek száma",
                data: subjectGradeNumberData,
                backgroundColor: "rgba{{ title_img_color_half_opacity }}",
                borderWidth: 3,
                borderColor: "rgb{{ title_img_color }}"
            }]
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
            xAxes: [{
                ticks: {
                    display: false
                }
            }]
        },
        legend: {
            display: false,
        }
        }
    });

// MEGADOTT TANTÁRGY ÁTLAGVÁLTOZÁSA

var subjectAverageOverTimeChart = null;
function updateSubjectAverageOverTime(firstRun){

    let checkedChart = document.getElementById("subjectAverageOverTimeSelect").value;
    let monthlyAverages = {{ monthly_averages|safe }};
    delete monthlyAverages['Átlag'];
    let subjectAverages = [];

    for (subj in monthlyAverages) {
        subjectAverages[subj] = []
        monthAverage = []
        checkedMonth = []
        firstMonth = true;
        for (month in monthlyAverages[subj]) {
            if(!firstMonth) {
                checkedMonth.push(avgOfArray(monthlyAverages[subj][month]));
                monthAverage.push(avgOfArray(checkedMonth));
            } else {
                checkedMonth.push(avgOfArray(monthlyAverages[subj][month]));
                monthAverage.push(avgOfArray(monthlyAverages[subj][month]));
                firstMonth = false;
            }
        }
        subjectAverages.push(monthAverage);
    }

    let subjectAverageOverTimeLabels = ['Szeptember', 'Október', 'November', 'December', 'Január'];
    let subjectAverageOverTimeData = subjectAverages;

    let subjectAverageOverTimeCanv = document.getElementById("subjectAverageOverTime");

    let subjectAverageOverTime = subjectAverageOverTimeCanv.getContext("2d");

    if(firstRun){
        subjectAverageOverTimeChart = new Chart(subjectAverageOverTime, {
            type: "line",
            data: {
                labels: subjectAverageOverTimeLabels,
                datasets: [{
                    label: "Tantárgy átlaga ebben a hónapban",
                    data: subjectAverageOverTimeData[checkedChart],
                    backgroundColor: "rgba{{ title_img_color_half_opacity }}",
                    borderWidth: 3,
                    borderColor: "rgb{{ title_img_color }}"
                }]
            },
            options: {
                scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
            },
                legend: {
                    display: false,
                }
            }
        });
    } else {
        subjectAverageOverTimeChart.data.datasets[0].data = subjectAverageOverTimeData[checkedChart];
        subjectAverageOverTimeChart.update();
    }
}

updateSubjectAverageOverTime(true);

// ÖSSZESÍTETT HAVI ÁTLAGVÁLTOZÁS
let allAverageOverTimeLabels = ['Szeptember', 'Október', 'November', 'December', 'Január'];
let allAverageOverTimeData = {{ monthly_averages|safe }}["Átlag"]

allAverageOverTimeData = [].concat.apply([], allAverageOverTimeData);
delete allAverageOverTimeData.pop()

for(i in allAverageOverTimeData) {
    allAverageOverTimeData[i] = allAverageOverTimeData[i].toString().replace(",", ".");
    if(allAverageOverTimeData[i] == "-") {
        allAverageOverTimeData[i] = NaN;
    }
}

monthAverage = [];
checkedMonth = [];
firstMonth = true;
for (month in allAverageOverTimeData) {
    if(!firstMonth) {
        checkedMonth.push(allAverageOverTimeData[month]);
        monthAverage.push(avgOfArray(checkedMonth));
    } else {
        checkedMonth.push(allAverageOverTimeData[month]);
        monthAverage.push(allAverageOverTimeData[month]);
        firstMonth = false;
    }
}

let allAverageOverTime = document.getElementById("allAverageOverTime").getContext("2d");
let allAverageOverTimeChart = new Chart(allAverageOverTime, {
    type: "line",
    data: {
        labels: allAverageOverTimeLabels,
        datasets: [{
            label: "Havi átlag",
            data: monthAverage,
            backgroundColor: "rgba{{ title_img_color_half_opacity }}",
            borderWidth: 3,
            borderColor: "rgb{{ title_img_color }}"
        }]
    },
    options: {
        scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }],
    },
        legend: {
            display: false,
        }
    }
});

    {% if data_datetime %}
    M.toast({html: '{{ data_datetime }} szerinti jegyek'});
    {% endif %}

    {% if updated %}
    M.toast({html: 'Jegyek frissültek'});
    {% endif %}

    {% if created %}
    M.toast({html: 'Jegyek regisztrálva az adatbázisba'});
    {% endif %}


</script>
{% endblock %}