{% extends 'statApp/base.html' %}
{% block content %}
<div class="row">
    <div class="col s7">
        <h4>A Naplóstat célja az átláthatóbb iskolai teljesítményvisszajelzés.</h4>
        <p class="flow-text">
            Ugyan a Mozanapló felületén meg lehet tekinteni a jegyeket, azonban eredményességünk diagramon ábrázolva
            hatásosabb.
            A webes alkalmazás célja ennek automatizálása.
        </p>
        <p class="flow-text">
            A Mozanapló táblázatából grafikonokat és egyéb analízist generál.
            A bejelentkezés után a háttérben beléptet a Mozanaplóba, ahonnan a jegyeket felhasználva különböző
            grafikonokat szerkeszt.
            A teljesítményanalízissel olyan dolgokat is megtudhatunk az eddigi eredményeinkről, amelyeket nem is
            tudtunk.
            Például figyelembevéve a jegyek számát és súlyozását, megmutatja nekünk, mennyi és milyen jegy hiányzik a
            jobb átlaghoz.
        </p>
        <p class="flow-text">
            A webalkalmazás tiszteli a privátszférát, nem tárolja el a belépési adatokat.
            A szabad szoftverek mintájára épül, amik pénzügyi és jogi akadály nélkül használható,
            tanulmányozható és módosítható.
            A szabadon megtekinthető forráskód is arról tanúskodik, hogy a jelszavak nem kerülnek elmentésre.
        </p>
    </div>
    <div class="col s5">
        <div class="section">
            <h4>Bejelentezés:</h4>
            <form action="{% url 'ellenorzo_login' %}" method="post">
                {% csrf_token %}
                <div class="input-field">
                    <input type="text" class="validate" id="user_name" name="user_name">
                    <label for="user_name">MozaNapló felhasználónév</label>
                </div>
                <div class="input-field">
                    <input type="password" class="validate" id="user_password" name="user_password">
                    <label for="user_password">MozaNapló jelszó</label>
                </div>
                <div class="input-field">
                    <input type="text" class="validate" id="user_server" name="user_server"
                           value="https://schillergimnazium.mozanaplo.hu">
                    <label for="user_server">MozaNapló URL</label>
                </div>
                <button class="btn waves-effect waves-light tooltipped"
                        data-tooltip="A bejelentkezés sebessége nagyban függ a Mozanapló gyorsaságától."
                        data-position="right" type="submit" name="action"
                        style="background-color: rgb{{ title_img_color }}">Bejelentkezés
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    let averageLabels = ['Szeptember', 'Október', 'November', 'December', 'Január'];
    let averageData = [4.33, 2, 2.66, 4.2, NaN];

    let average = document.getElementById("average").getContext("2d");
    let averageChart = new Chart(average, {
        type: "bar",
        data: {
            labels: averageLabels,
            datasets: [{
                label: "Tantárgy átlaga",
                data: averageData,
                backgroundColor: "rgba(0, 128, 128, 0.5)",
                borderWidth: 3,
                borderColor: "rgb(0, 128, 128)"
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                    ticks: {
                        display: true
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });

    averageOverTimeLabels = averageLabels
    averageOverTimeData = [4.33, 3.4, 3.12, 3.53];

    averageOverTime = document.getElementById("averageOverTime").getContext("2d")
    averageOverTimeChart = new Chart(averageOverTime, {
        type: "line",
        data: {
            labels: averageOverTimeLabels,
            datasets: [{
                label: "Tantárgy átlaga ebben a hónapban",
                data: averageOverTimeData,
                backgroundColor: "rgba(0, 128, 128, 0.5)",
                borderWidth: 3,
                borderColor: "rgb(0, 128, 128)"
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
            },
            legend: {
                display: false,
            }
        }
    });

</script>
{% endblock %}
